@import "tailwindcss";

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-600 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent; /* gray-600 */
}